@media (max-width: 768px) {
.nav-toggle {
display: block;
}
header {
padding: 10px 0;
}
#menu {
max-height: 0;
background: white;
float: none;
position: absolute;
overflow: hidden;
top: 63px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;
}
#menu li {
display: block;
padding-left: 15px;
border-bottom: 1px solid #EBEBE3;
margin-right: 0;
}
.posts-list, aside {
width: 100%;
float: none;
}
.widget-post-title {
font-size: 1.5em;
}
}
@media (max-width: 480px) {
nav {
text-align: center;
}
.logo {
float: none;
margin-bottom: 15px;
}
#menu {
top: 118px;
}
#searchform {
float: left;
margin-left: 0;
}
.post-footer {
border-top: none;
border-bottom: none;
text-align: center;
}
.post-social {
position: static;
text-align: center;
transform: none;
margin-top: 20px;
}
.widget-post-title {
font-size: 1.2em;
}
.footer-col {
float: none;
margin-bottom: 20px;
width: 100%;
text-align: center;
}
.footer-col:last-child {
text-align: center;
margin-bottom: 0;
}
}